@charset "UTF-8";
a { color: #666; text-decoration: none; }

a:hover { color: #666; text-decoration: none; }

/*weigh*/
.bold { font-weight: 600 !important; }

.normal { font-weight: normal !important; }

.uline { text-decoration: underline; }

.no-bg { background: none !important; }

/*align*/
.__left { text-align: left !important; }

.__center { text-align: center !important; }

.__right { text-align: right !important; }

.v-top { vertical-align: top !important; }

.v-middle { vertical-align: middle !important; }

.v-bottom { vertical-align: bottom !important; }

/*width*/
.wp100 { width: 100% !important; }

/*font*/
.ft20px { font-size: 20px !important; }

.ft30px { font-size: 30px !important; }

.ft40px { font-size: 40px !important; }

/*display*/
.dp-tb { display: table; width: 100%; }

.dp-tb .dp-tr { display: table-row; }

.dp-tb .dp-td { display: table-cell; vertical-align: top; }

/* etc */
.scroll { overflow: scroll; }

.scroll-y { overflow-y: auto; overflow-x: hidden; }

.scroll-x { overflow-x: scroll; overflow-y: hidden; }

.f-left { float: left; }

.f-right { float: right; }

.blind { /* 스크린 리더기로 읽혀져야 하지만 실제로는 보이지 않는 콘텐츠. 포지셔닝 (다른 예 :  position：absolute; left:-10000px; top:auto; height:1px; overflow:hidden; ) */ display: block; width: 0; height: 0px; text-indent: -9000px; overflow: hidden; }

/* margin */
.mgt-base { margin-top: 35px !important; }

.mgb-base { margin-bottom: 35px !important; }

.mgt-half { margin-top: 15px !important; }

.mgb-half { margin-bottom: 15px !important; }

.mg0 { margin: 0 !important; }

.mgl0 { margin-left: 0px !important; }

.mgl5 { margin-left: 5px !important; }

.mgl10 { margin-left: 10px !important; }

.mgl15 { margin-left: 15px !important; }

.mgl20 { margin-left: 20px !important; }

.mgl25 { margin-left: 25px !important; }

.mgl30 { margin-left: 30px !important; }

.mgl70 { margin-left: 70px !important; }

.mgl103 { margin-left: 103px !important; }

.mgb0 { margin-bottom: 0px !important; }

.mgb5 { margin-bottom: 5px !important; }

.mgb10 { margin-bottom: 10px !important; }

.mgb15 { margin-bottom: 15px !important; }

.mgb20 { margin-bottom: 20px !important; }

.mgb25 { margin-bottom: 25px !important; }

.mgb30 { margin-bottom: 30px !important; }

.mgb35 { margin-bottom: 35px !important; }

.mgb70 { margin-bottom: 70px !important; }

.mgb100 { margin-bottom: 100px !important; }

.mgt0 { margin-top: 0px !important; }

.mgt1 { margin-top: 1px !important; }

.mgt3 { margin-top: 3px !important; }

.mgt4 { margin-top: 4px !important; }

.mgt5 { margin-top: 5px !important; }

.mgt6 { margin-top: 6px !important; }

.mgt7 { margin-top: 7px !important; }

.mgt8 { margin-top: 8px !important; }

.mgt10 { margin-top: 10px !important; }

.mgt13 { margin-top: 13px !important; }

.mgt15 { margin-top: 15px !important; }

.mgt16 { margin-top: 16px !important; }

.mgt20 { margin-top: 20px !important; }

.mgt25 { margin-top: 25px !important; }

.mgt30 { margin-top: 30px !important; }

.mgt35 { margin-top: 35px !important; }

.mgt40 { margin-top: 40px !important; }

.mgt50 { margin-top: 50px !important; }

.mgt60 { margin-top: 60px !important; }

.mgt80 { margin-top: 80px !important; }

.mgt90 { padding-top: 90px !important; }

.mgt100 { margin-top: 100px !important; }

.mgt118 { margin-top: 118px !important; }

.mgt285 { margin-top: 285px !important; }

.mgr5 { margin-right: 5px; }

.mgr10 { margin-right: 10px !important; }

.mgr15 { margin-right: 15px; }

.mgr20 { margin-right: 20px; }

.mgtb15 { margin: 15px 0 !important; }

/* padding */
.pd0 { padding: 0 !important; }

.pd10 { padding: 10px !important; }

.pd15 { padding: 15px 0 !important; }

.pd20 { padding: 20px !important; }

.pd30 { padding: 30px !important; }

.pdt0 { padding-top: 0px !important; }

.pdt2 { padding-top: 2px !important; }

.pdt3 { padding-top: 3px !important; }

.pdt5 { padding-top: 5px !important; }

.pdt7 { padding-top: 7px !important; }

.pdt8 { padding-top: 8px !important; }

.pdt10 { padding-top: 10px !important; }

.pdt15 { padding-top: 15px !important; }

.pdt20 { padding-top: 20px !important; }

.pdt30 { padding-top: 30px !important; }

.pdt40 { padding-top: 40px !important; }

.pdl0 { padding-left: 0 !important; }

.pdl10 { padding-left: 10px !important; }

.pdl15 { padding-left: 15px !important; }

.pdl20 { padding-left: 20px !important; }

.pdl25 { padding-left: 25px !important; }

.pdr15 { padding-right: 15px !important; }

.pdb0 { padding-bottom: 0px !important; }

.pdb30 { padding-bottom: 30px !important; }

/* point-color */
.pc01 { color: var(--pointer-color1 ); }

.pc02 { color: var(--pointer-color2 ); }

.pc03 { color: var(--pointer-color3 ); }


/* print */
@media print { #header { display: none; }
  #lnb { display: none; }
  #footer { display: none; } }
